body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #02b3e4;

}

h1 {
    color: #2d3c49;
}

h2 {
    color: #2d3c49;
}

h3 {
    color: #7d97ad;
}

.logo {
    width: 150px;
}

.landing-image {
    width: 100%;
    height: 100%;
}

